.u-section-1 .u-sheet-1 {
  min-height: 145px;
}

.u-section-1 .u-btn-1 {
  align-self: center;
  margin: 60px 689px 0 276px;
  padding: 14px 47px 16px;
}

.u-section-1 .u-btn-2 {
  align-self: center;
  animation-duration: 1000ms;
  margin: -55px 276px 0 auto;
  padding: 14px 47px 16px;
}

.u-section-1 .u-btn-3 {
  margin: -55px auto 30px 472px;
  padding: 14px 47px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    width: 175px;
    height: 55px;
    margin-right: 589px;
    margin-left: 176px;
  }

  .u-section-1 .u-btn-2 {
    width: 197px;
    height: 55px;
    margin-right: 76px;
    margin-left: 371px;
  }

  .u-section-1 .u-btn-3 {
    width: 175px;
    height: 55px;
    margin-left: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 479px;
    margin-left: 138px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 189px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 365px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 138px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-right: 165px;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 71px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 71px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-text-1 {
  margin: 42px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 6px 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 358px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  height: auto;
  margin: 30px auto 60px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-image-1 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-2 .u-text-4 {
  margin: 2px auto 0 131px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-image-2 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-2 .u-text-6 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-image-3 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-2 .u-text-8 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 31px;
}

.u-section-2 .u-image-4 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-2 .u-text-10 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-text-1 {
    width: 193px;
    margin-left: 474px;
    margin-right: 474px;
  }

  .u-section-2 .u-list-1 {
    min-height: 295px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 107px;
  }

  .u-section-2 .u-image-2 {
    height: 94px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-2 .u-image-3 {
    height: 94px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-2 .u-image-4 {
    height: 94px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -92px;
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 80px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 63px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 63px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 63px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 63px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-3 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 39px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 39px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 543px;
}

.u-section-3 .u-text-1 {
  margin: 42px 0 0;
}

.u-section-3 .u-list-1 {
  min-height: 358px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  height: auto;
  margin: 44px auto 60px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 31px;
}

.u-section-3 .u-image-1 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-3 .u-text-3 {
  margin: 2px auto 0 131px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 31px;
}

.u-section-3 .u-image-2 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-3 .u-text-5 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 31px;
}

.u-section-3 .u-image-3 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-3 .u-text-7 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 31px;
}

.u-section-3 .u-image-4 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-3 .u-text-9 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-text-1 {
    width: 193px;
    margin-left: 474px;
    margin-right: 474px;
  }

  .u-section-3 .u-list-1 {
    min-height: 295px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    height: 94px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-3 .u-image-2 {
    height: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 107px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-3 .u-image-3 {
    height: 94px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 107px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-3 .u-image-4 {
    height: 94px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 107px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -92px;
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 80px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 63px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 63px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 63px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 63px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 63px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 39px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 39px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 549px;
}

.u-section-4 .u-text-1 {
  margin: 42px 0 0;
}

.u-section-4 .u-list-1 {
  min-height: 358px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  height: auto;
  margin: 44px auto 60px;
}

.u-section-4 .u-list-item-1 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 31px;
}

.u-section-4 .u-image-1 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-4 .u-text-3 {
  margin: 2px auto 0 131px;
}

.u-section-4 .u-list-item-2 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 30px 31px;
}

.u-section-4 .u-image-2 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-4 .u-text-5 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-4 .u-list-item-3 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 31px;
}

.u-section-4 .u-image-3 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-4 .u-text-7 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

.u-section-4 .u-list-item-4 {
  box-shadow: 0 3px 3px 0 rgba(238,238,238,1);
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 31px;
}

.u-section-4 .u-image-4 {
  width: 116px;
  height: 95px;
  margin: 0 195px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: -74px auto 0 131px;
}

.u-section-4 .u-text-9 {
  font-weight: normal;
  margin: 2px auto 0 131px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-4 .u-text-1 {
    width: 193px;
    margin-left: 474px;
    margin-right: 474px;
  }

  .u-section-4 .u-list-1 {
    min-height: 295px;
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    height: 94px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 107px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-4 .u-image-2 {
    height: 94px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 107px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-4 .u-image-3 {
    height: 94px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 107px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -92px;
    margin-left: 107px;
  }

  .u-section-4 .u-image-4 {
    height: 94px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 107px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -92px;
    margin-left: 107px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 80px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 80px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 80px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 80px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 80px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 80px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 80px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 63px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 63px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 63px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 63px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 39px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 39px;
  }
}